* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.leftside {
  width: 645px;
  background: radial-gradient(
    99.46% 89.69% at 117.29% 112.19%,
    #f8c35b 0%,
    #fde591 100%
  );
  padding-left: 150px;
  padding-top: 29px;
}

.logo span {
  font-size: 32px;
  font-weight: 700;
  color: #3a3934;
  position: relative;
  z-index: 2;
}

.logo span::before {
  content: "";
  width: 60px;
  height: 60px;
  border: 2px solid #3a3934;
  position: absolute;
  left: -18px;
  top: -6px;
  opacity: 0.2;
}

.abajurImages {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.images {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.images .l1 {
  width: 270px;
}

.images .l2 {
  width: 226px;
  position: absolute;
  right: -274px;
}

.rightside {
  background-image: url(../images/bg_element.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  flex: 1;
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: #3a3934;
}

.social-icons {
  margin-left: 41px;
  display: flex;
  gap: 12px;
}
